@charset "utf-8";
/* CSS Document */
div.battlefield
{
	float: left;
	display: none;
	margin: 0 35px 0 0;
	padding:0;
	cursor:default;
}

.battlefield h3 {
	width: inherit;
}

.battlefield table {
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #0066FF;
	border-collapse: collapse;
	background-color: rgb(132, 132, 255);
	text-align:center;
}
	
.battlefield table tr th,
.battlefield table tr td
{
	width: 25px;
	height: 25px;
	top:0;
	left:0;
	border-width: 1px;
	padding: 0px;
	border-style: solid;
	border-color: #0066FF;
	-moz-border-radius: 0px;
}


.battlefield table tr th,
.battlefield table tr td.non-field
{
	background-color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	cursor: default;
}

#computer{
	cursor:pointer;
}

#shipselect {
	display: none;
	float: left;
}

#shipselect ul {
	list-style:none;
	margin:0;
	padding:0;
}

#shipselect ul li {
	cursor:pointer;
}

#shipselect div {
	width: 125px;
}

#shipselect div img {
	cursor: move;
	top:0;
	left:0;
}

