tr 
{
background-color: white;
margin: 1px;
}
tr.striped 
{
background-color:Fuchsia;
}
td 
{
padding: 1px 8px;

}
.wrapper
{
    border-color:Fuchsia;
    border-width:5px;
    border-style:solid;  
}