/* Defaults */
:root {
  --font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif ;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
    Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
    Courier, monospace;
}

/* Theme colors */
:root {
  --primary-color: #192839;
  --secondary-color: #0f67a1;

  --text-color: #222;
  --text-color-dark-bg: #fff;
  --text-color-link: var(--secondary-color);
  --text-color-link-hover: #176092;
  --text-color-link-active: var(--secondary-color);
  --text-color-link-visited: var(--secondary-color);
  --text-color-link-disabled: #998;
  --main-link-hover-bg-color: #eee;
  --text-shadow-color: #fcfcfc;

  --footer-text-color-link: #5DB0E6;

  --background-color: #39414a;
  --nav-background-color: var(--primary-color);
  --secondary-nav-background-color: var(--secondary-color);
  --main-background-start-color: #000000;
  --main-background-end-color: #181c21;
  --content-background-color: #fafafa;
  --sidenav-header-background-color: #ddd;

  --footer-background-start-color: var(--primary-color);
  --footer-background-end-color: #0f1923;

  --nav-text-link-color: white;
  --nav-hover-link-color: rgba(0, 0, 0, 0.2);
  --nav-active-link-color: #176092;

  --input-border-color: white;
  --border-color: #e4e4e4;
  --border-radius: 4px;
  --syntax-tab-size: 2;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: var(--font-family);
  font-size: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.4;
}
html {
  overflow-y: auto;
}
body {
  background-image: url(/img/bg-interior-tile-drk.jpg);
  background-repeat: repeat-x;
  background-position: 50% 0;
}
.container {
  width: 100%;
  max-width: 910px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

p:last-child {
  margin-bottom: 0;
}
p {
  line-height: 1.5;
}
ul {
  margin: 0;
}
li {
  line-height: 1.5;
}

a[href] {
  color: var(--text-color-link);
}
a[href]:visited {
  color: var(--text-color-link-visited);
}
a[href]:hover,
footer a[href]:hover {
  color: var(--text-color-link-hover);
}
a[href]:active,
footer a[href]:hover {
  color: var(--text-color-link-active);
}
a[aria-disabled='true'] {
  color: var(--text-color-link-disabled);
}

main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: var(--font-family-monospace);
}
pre:not([class*='language-']) {
  margin: 0.5em 0;
  line-height: 1.375; /* 22px /16 */
  -moz-tab-size: var(--syntax-tab-size);
  -o-tab-size: var(--syntax-tab-size);
  tab-size: var(--syntax-tab-size);
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
}
code {
  word-break: break-all;
}
.strikethrough {
  text-decoration: line-through;
}

/* Header */
header {
	position: relative;
  height: 186px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}
header h1 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

/* Nav */
.nav {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav a {
  display: flex;
  align-items: center;
  height: 35px;
  font-size: 0.75rem;
  padding: 0 1em;
  text-decoration: none;
  border-bottom: 1px dotted var(--nav-text-link-color);
  white-space: nowrap;
  width: 100%;
}
.nav li:not(.active) a:hover,
.nav li:not(.active) a:active {
  background-color: var(--nav-hover-link-color);
}
.nav a,
.nav a:visited,
.nav a:hover,
.nav a:active {
  color: var(--nav-text-link-color);
}
.nav .active a {
  border-bottom: 2px solid var(--nav-active-link-color);
}
#jq-siteLogo {
  margin-top: 1em;
}
#jq-primaryNavigation {
  padding: 0 0.5em;
  background-color: var(--nav-background-color);
}
#jq-secondaryNavigation {
  padding: 0 0.5em;
  background-color: var(--secondary-nav-background-color);
}
#jq-secondaryNavigation a {
  font-size: 0.8125rem;
}
#bug-tracker-form {
	position: relative;
  width: 100%;
  gap: 16px;
  margin-top: 25px;
  color: var(--text-color-dark-bg);
}
#bug-tracker-form form {
	position: relative;
  padding-right: 22px;
}
#jq-searchButton {
  position: absolute;
  right: 0;
  top: -4px;
  width: 35px;
  height: 35px;
  background: url(/img/icon-search.png) 0 0 no-repeat;
}

/* Upper content nav */
.content-nav {
  font-size: 0.8125rem;
  margin: 1.2em 0;
  align-self: flex-end;
}
.content-nav ul {
  list-style: none;
}
.content-nav li {
  padding: 0 1em;
}
.content-nav li:not(:last-of-type) {
  border-right: 1px solid var(--border-color);
}

/* Hamburger Icon */
.hamburger-lines {
  position: relative;
  width: 18px;
  height: 14px;
  align-self: center;
}
.hamburger-line {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.hamburger-toggle:checked + .hamburger-lines span:first-of-type {
  transform: rotateZ(45deg) translate(4px, 4.5px) scaleX(1.2);
}
.hamburger-toggle:checked + .hamburger-lines span:nth-of-type(2) {
  transform: rotateZ(135deg) scaleX(1.2);
}
.hamburger-toggle:checked + .hamburger-lines span:last-of-type {
  transform: translateY(-8px) scale(0);
  opacity: 0;
}
.hamburger-toggle:checked ~ #jq-menus {
  transform: none;
  opacity: 1;
}

/* Forms */
form {
  gap: 0.5em;
}
label {
  font-style: italic;
  font-size: 0.8125rem;
}
input {
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  height: 25px;
  padding: 0 0.5em;
  color: var(--text-color);
}
button {
  border: 0;
  cursor: pointer;
}

/* Main content */
main {
  padding: 20px;
  background: linear-gradient(
    to bottom,
    var(--main-background-start-color),
    var(--main-background-end-color)
  );
  gap: 1em;
}
main a[href]:hover,
main a[href]:active {
  background-color: var(--main-link-hover-bg-color);
}
#jq-content {
  position: relative;
}

/* Side navigation */
#jq-sidenav {
  padding: 2em 1em;
}
#jq-sidenav a {
  font-size: 0.75rem;
  display: block;
  padding: 0.35em 0.625em;
  text-decoration: none;
  border-bottom: 1px solid var(--border-color);
}
.sidenav-header {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--primary-color);
  text-transform: uppercase;
  background-color: var(--sidenav-header-background-color);
  padding: 0.225em 0.625em;
  margin-bottom: 0.5em;
}

/* Footer */
footer {
  background-color: var(--nav-background-color);
  background: var(--nav-background-color) linear-gradient(
    to bottom,
    var(--footer-background-start-color),
    var(--footer-background-end-color)
  );
  padding: 2.5em 2.5em;
  margin-bottom: 2em;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  color: var(--text-color-dark-bg);
}

footer a[href],
footer a[href]:visited {
  color: var(--footer-text-color-link);
}

/* Flex classes */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-between-start {
  justify-content: space-between;
  align-items: flex-start;
}
.flex-between-center {
  justify-content: space-between;
  align-items: center;
}
.flex-start-center {
  justify-content: flex-start;
  align-items: center;
}

/* Utility classes */
.white-box {
  padding: 1em;
  background-color: var(--content-background-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}
a.ext-link .icon {
  padding-left: 15px;
  background: url(/img/extlink.png) 0 50% no-repeat;
}

@media(max-width: 919px) {
  #jq-menus {
    position: absolute;
    top: 80px;
    height: calc(100vh - 80px);
    left: 0;
    right: 0;
    background-color: var(--nav-background-color);
    z-index: 1;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
}

@media(min-width: 920px) {
  header {
    padding: 0 40px;
  }
  .nav {
    flex-direction: row;
  }
  .nav a {
    width: auto;
  }
  #jq-primaryNavigation a {
    height: 27px;
  }
  #jq-secondaryNavigation {
    border-radius: var(--border-radius);
    margin-top: 2em;
  }
	#jq-siteLogo {
		margin-top: 59px;
	}
	#bug-tracker-form {
		flex-direction: row;
		gap: 0;
		position: absolute;
		bottom: 15px;
		left: 0;
		right: 0;
    padding: 0 40px 0 60px;
	}
  #jq-primarySearch {
    width: 286px;
  }
  .hamburger-lines {
    display: none;
  }
  main.flex-column {
    padding: 2.5em;
    display: flex;
    flex-direction: row;
  }
  #jq-sidenav {
    width: 196px;
    flex-shrink: 0;
  }
  .content-nav {
    margin-top: 0.4em;
  }
  #jq-content {
    flex-grow: 1;
  }
}
