.wiki, .wiki a {
  font-size: 0.8125rem;
}

.breadcrumbs-nav {
  position: absolute;
  top: 0.625em;
  left: 1em;
}
.breadcrumbs-nav-first {
  color: #998;
}
.breadcrumbs-nav a {
  font-size: 0.625rem;
}

.wiki-nav {
  margin: 1.2em 0;
  align-self: flex-end;
}
.wiki-nav ul {
  list-style: none;
}
.wiki-nav li {
  padding: 0 1em;
}
.wiki-nav li:not(:last-of-type) {
  border-right: 1px solid var(--border-color);
}

.wiki-content {
  padding: 1em 1.5em;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}

@media(min-width: 920px) {
  .wiki-nav {
    margin-top: 0.4em;
  }
}
