.wiki, .wiki a {
  font-size: 0.8125rem;
}

.breadcrumbs-nav {
  position: absolute;
  top: 0.625em;
  left: 1em;
}
.breadcrumbs-nav-first {
  color: #998;
}
.breadcrumbs-nav a {
  font-size: 0.625rem;
}

.wiki-content {
  padding: 1em 1.5em;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}
