---
layout: layouts/base.njk
---

<h3>Available Reports</h3>
<hr />

<p>This site is now a static version of the old trac bugs site. Reports using SQL queries are no longer available.</p>

<p>However, the search box above can still be used to search the full archive of tickets.</p>

<p>If you know the ticket number you are looking for, you can use the following URL format to go directly to the ticket:</p>

<pre>https://bugs.jquery.com/ticket/1234</pre>
