---
pagination:
  data: tickets
  size: 1
  alias: ticket
layout: layouts/ticket.njk
eleventyComputed:
  title: "#{{ ticket.id }} ({{ ticket.summary }}) - jQuery - Bug Tracker"
permalink: /ticket/{{ ticket.id }}/
---

{{ content | safe }}