---
layout: layouts/base.njk
---

<h3>Ticket Graph</h3>
<hr />

<p>This site is now a static version of the old Trac bugs site.</p>

<p>The ticket graph no longer applies. There are no tickets with activity.</p>

<p>If you're looking for the current list of jQuery issues, please visit <a href="https://github.com/jquery/jquery/issues">jQuery on GitHub</a>.</p>
