@charset "utf-8";

body
{
margin:0px;
background-color:#D8D7D7;
background-image:url('images/imgRodape.png');
background-repeat:repeat-x;
background-position:bottom;
overflow-x: hidden;
}

	#containerFundo
	{
	width:1500px;
	height:215px;
	background-image:url('images/fundoBodyTopo.gif');
	background-repeat:repeat-x;
	margin-top:0%;
	}
	
	#containerLogoTopo
	{
	margin-left:25px;
	width:157px;
	height:55px;
	margin-top:5px;
	background-image:url('images/logoTopo.png');
	background-repeat:no-repeat; 
	background-position:top left;
	}

	#containerTitulo
	{
	margin-left:120px;
	width:700px;
	margin-top:25px;
	}
		#containerTitulo h1
		{
		font-family: Verdana, "sans serif";
		letter-spacing:7px;
		color:#FFFFFF;
		font-size:75px;
		margin:0px;
		text-align:right;
		}

	#containerSimboloTopo
	{
	float:right;
	margin-right:25px;
	width:119px;
	height:110px;
	margin-top:-65px;
	background-image:url('images/simboloTopo.png');
	background-repeat:no-repeat; 
	background-position:top right;
	}
		
	#containerBackground
	{
	background-color:#1e5c84;
	border:solid 1px #6f6f6f;
	width:550px;
	margin-left:175px;
	margin-top:25px;
	}
	
	#containerCorpoCamada1
	{
	margin-top:-15px;
	width:550px;
	}

			
				#containerTexto
				{
				 text-align:justify;
				 margin-top:23px;
				 margin-bottom:10ox;
				 margin-left:8px;
				 margin-right:8px;
				 font-size:14px;
				 color:#fffae6;
				}
				
					#containerTexto a
					{
					 color:#CCCCCC;
					 font-style:italic;
					}
					
				#containerImagem
				{
				display:none;
				float:left;
				margin-left:10px;
				margin-right:10px;
				margin-top:14px;
				border:1px solid #194d6e;
				}
	

