@charset "utf-8";
/*Menu do topo*/
#containerMenuTopo {
	float: right;
	margin:-10px;
	margin-right:260px;
	margin-top:-13px;
	background: #0f67a1;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:solid 1px #000000;
}

#containerMenuTopo ul {
	float: left;
	margin: 0;
	background: none;
	padding: 0 2px 0 2px;
}

#containerMenuTopo ul li {
	float: left;
	list-style: none;
	border-right: 1px solid #0D5995;
	border-left: 1px solid #1175AE;
	height: 34px;
	background: none;
}

#containerMenuTopo li a {
	font-family: arial;
	font-size: 12px;
	outline: none;
	float: left;
	padding: 0 12px;
	color: #eee;
	text-decoration: none;
	line-height: 34px;
	position: relative;
	background: none;
}

#containerMenuTopo li:first-child {
	background: none;
	border-left: none;
}

#containerMenuTopo li:last-child {
	background: none;
	border-right: none;
}

#containerMenuTopo li a:hover {
	color: #fff;
	text-shadow: 1px 1px 1px #000000; /* sombra */
}

.menuTopoBtnOn
{
	font-weight:bold;
	font-size:13px;
	letter-spacing:1px;
	float: left;
	padding: 0 12px;
	color: #eeeeee;
	text-decoration: none;
	line-height: 34px;
	position: relative;
	background: none;
}
	
.menuTopoBtnOff
{
	float: left;
	padding: 0 12px;
	color: #eeeeee;
	text-decoration: none;
	line-height: 34px;
	position: relative;
	background: none;
}

/*menu do corpo do profissional*/
#containerMenuCorpoProfissional {
	display:none;
	float: right;
	margin-right:3px;
	margin-top:1px;
	background: #a10f0f;
	border: solid 1px #1a4e6f;
}

#containerMenuCorpoProfissional ul {
	float: left;
	margin: 0;
	background: none;
	padding: 0 2px 0 2px;
}

#containerMenuCorpoProfissional ul li {
	float: left;
	list-style: none;
	border-right: 1px solid #950d0d;
	border-left: 1px solid #ae1111;
	background: none;
}

#containerMenuCorpoProfissional li a {
	font-family: arial;
	font-size: 12px;
	outline: none;
	float: left;
	color: #eee;
	text-decoration: none;
	line-height: 20px;
	position: relative;
	background: none;
}

#containerMenuCorpoProfissional li:first-child {
	background: none;
	border-left: none;
}

#containerMenuCorpoProfissional li:last-child {
	background: none;
	border-right: none;
}

#containerMenuCorpoProfissional li a:hover {
	color: fff;
	text-shadow: 1px 1px 1px #000000; /* sombra */
}

/*menu do corpo do Soluções*/
#containerMenuCorpoSolucoes {
	display:none;;
	float: right;
	margin-right:3px;
	margin-top:1px;
	background: #a10f0f;
	border: solid 1px #1a4e6f;
}

#containerMenuCorpoSolucoes ul {
	float: left;
	margin: 0;
	background: none;
	padding: 0 2px 0 2px;
}

#containerMenuCorpoSolucoes ul li {
	float: left;
	list-style: none;
	border-right: 1px solid #950d0d;
	border-left: 1px solid #ae1111;
	background: none;
}

#containerMenuCorpoSolucoes li a {
	font-family: arial;
	font-size: 12px;
	outline: none;
	float: left;
	color: #eee;
	text-decoration: none;
	line-height: 20px;
	position: relative;
	background: none;
}

#containerMenuCorpoSolucoes li:first-child {
	background: none;
	border-left: none;
}

#containerMenuCorpoSolucoes li:last-child {
	background: none;
	border-right: none;
}

#containerMenuCorpoSolucoes li a:hover {
	color: fff;
	text-shadow: 1px 1px 1px #000000; /* sombra */
}

.menuCorpoBtnOn
{
	font-weight:bold;
	font-size:13px;
	padding: 0 6px;
	letter-spacing:1px;
	float: left;
	color: #eeeeee;
	text-decoration: none;
	position: relative;
	background: none;
}
	
.menuCorpoBtnOff
{
	float: left;
	padding: 0 6px;
	color: #eeeeee;
	text-decoration: none;
	position: relative;
	background: none;
}

/*menu do corpo do Home*/
#containerMenuCorpoHome {
	display:none;
	float: left;
	margin-left:10px;
	margin-right:7px;
	margin-top:1px;
}

#containerMenuCorpoHome img {
	width:100px;
	height:100px;
	margin-top:4px;
	border:solid 1px #195175;
}
