td.targetCell {
    width:55px;
    height:55px;
}
td.targetCell img {
    border:none;
}
td.canvasCell {
    width:52px;
    height:52px;
    cursor:pointer;
}
td.hole {
    width:50px;
    height:50px;
    border:2px dashed maroon;
}
td.canvasCell img{
    border:2px solid #FFFFFF;
}
td.canvasCell img:hover{
    border:1px solid #0000FF;
}
#targetdiv {
    float:left;
}
.caption {
    font-weight:bold;
    text-align:center;
    font-size:0.9em;
    height:50px;
}
#middiv{
    float:left;
    text-align:center;
    height:200px;
    font-weight:bold;
    font-size:0.9em;
    margin:0 10px;
    padding-top:50px; /*height of the caption div */
}
#canvasdiv{
    float:left;
    text-align:center;
}
h3 {
    text-align:center;
    font-size:1.3em;
    margin:8px 0;
}
#instructions{
    width:500px;
    font-size:0.7em;
}
#clock{
    font-size:1.5em;
    text-align:center;
    color:#004000;
    font-weight:bold;
}
#gamediv {
    width:700px;
}
#addiv {
    width:730px;
    height:92px;
    border:1px solid black;
    margin:5px 0;
}
/* Simulating Facebook-style tabs */
.fbtab {
    padding: 8px;
    background-color: #d8dfea;
    color: #3b5998;
    font-weight: bold;
    margin-right: 4px;
    text-decoration: none;
    border:1px solid #999999;
    border-bottom:none;
}
.fbtab_selected {
    padding: 8px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    margin-right: 4px;
    text-decoration: none;
    border:1px solid #999999;
    border-bottom:none;
}
.fbtab:hover {
    background-color: #3b5998;
    color: #ffffff;
    cursor: pointer;
}
#gridsizes {
    width:750px;
    padding:8px;
    border-bottom:1px solid #999999;
    margin-bottom:5px;
}
button {
    border-style: solid;
    border-width: 1px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 13px;
    margin: 0 2px;
    padding: 2px 6px;
    text-align:center;
    font-weight:bold;
}
.fb_button {
    background-color: #3b5998;
    border-color: #d8dfea rgb(14, 31, 91) rgb(14, 31, 91) rgb(216, 223, 234);
    color: #fff;
}
.fb_button_selected {
    background:#DDDDDD none repeat scroll 0 0;
    color:#000;
    border-color: #999999;
}
#symbols {
    width:700px;
    margin-bottom:15px;
}
body {
font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
}
h1 a {
text-decoration: none;
color: #3b5998;
}
h1 a:hover {
text-decoration: underline;
}
h3 {
margin:0 0 15px 0;
}
#levels {
    margin-bottom:10px;
    border-top:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
    padding:3px 0;
    width:700px;
}
#levels button {
    margin:0 0 0 20px;
}
#gameoverdiv{
    margin-left:30px;
    font-size:1.1em;
    color:green;
    font-weight:bold;
    font-family:Verdana;
}
#waitdiv{
    text-align:center;
}
.rank {
    width:150px;
    float:left;
    margin:0 10px 0 0;
    text-align:center;
    background-color:#DDDDDD;
}

.selfrank{
    background-color:#8ED79B;
}

.rank .naam {
    font-weight:bold;
    font-size:0.9em;
    height:40px;
}

.laybl{
    font-size:0.8em;
    text-align:left;
}
.valoo {
    font-weight:bold;
    font-size:0.8em;
}
